/*==================CONTENT KPOP======================*/
.box-detail {

  h1 {
    font-size: 2.1rem;
    font-weight: 900;
  }

  .detail-special {
    img {
      padding-bottom: 1rem;
    }
    .box-img {
      .title-img {
        font-weight: bold;
        text-align: center;
      }
    }
    p {
      font-size: 1.14rem;
      &.excerpt {
        font-weight: bold;
      }
      &.excerpt {
        font-weight: bold;
      }
      &.author {
        font-weight: bold;
        text-align: right;
      }
      .icon-pen {
        @include setBackgroundIcon(20px, "../images/icon-pen.svg");
        vertical-align: middle;
      }
    }
  }
}
/*==================END CONTENT KPOP======================*/
