.hotnews-video{
	.label-head{
		@include bg-gradient-t2b(#FFF700, #00A800);
	}
	.title-video{
		font-weight: 900;
		font-size: 2.14rem;
		color: $color-black;
		padding-top: 1.14rem;
		padding-bottom: .71rem;
	}
	.info-video{
		padding-bottom: 1.42rem;
		.icon-calendar{
			@include setBackgroundIcon(24px, '../images/icon-calendar.svg');
			margin-right: .2rem;
		    vertical-align: middle;
		}
		.excerpt-video{
			padding-bottom: .71rem;
		}
		.icon-stopwatch{
			@include setBackgroundIcon(24px, '../images/icon-stopwatch.svg');
			margin-right: .2rem;
			margin-left: 1rem;
		    vertical-align: middle;
		}
	}

	.list-video{
		height: 670px;
		margin-bottom: 2rem;
		.list-group-item{
			padding: 0;
			.card-body{
				padding-top: 1rem;
				padding-bottom: 2rem;
			}
			.card-text{
				font-weight: bold;
			}
		}

		.mCS-3d.mCSB_scrollTools {
			.mCSB_dragger {
				.mCSB_dragger_bar{
				    background-color: #46BC93;
				}
			}
			.mCSB_draggerRail{
				background-color: #4E4E4E;
			}
		}
	}
}

/* ========== LIST NEWS HAVE TIME, CATEGORY =============== */
.list-news-two-col{
	.list-news-hori{
		.list-group-item{
			margin-right: 5rem;
			padding: 1rem 0;
			border: none;
			border-top: 1px solid $color-gray-border;
			@include border-radius(0); 
			margin-bottom: 0;
			.thumb-hori{
				width: 154px;
				float: left;
				margin-right: 1rem;
			}
			.set-height-news{
				height: 111px;
			}
			.title-news-hori{
				font-size: 1.28rem;
				line-height: 29px;
				font-weight: 700;
			}
			.time-hori{
				.icon-calendar{
					@include setBackgroundIcon(20px, "../images/icon-calendar.svg");
					vertical-align:  middle;
					margin-bottom: .5rem;
				}
			}
			.category-hori{
				font-size: 1.28rem;
				line-height: 20px;
				font-weight: bold;
				color:  $color-green;
			}

			&:first-child{
				margin-right: 0;
				border-top: none;
				.thumb-hori{
					width: 239px;
				}
				.title-news-hori{
					font-size: 1.71rem;
				}
				.set-height-news{
					height: 173px;
				}
			}
			&:last-child{
				border-bottom: 1px solid $color-gray-border;
			}
		}
		
	}

	.btn-view-more{
		padding-right: 5rem;
	}

	.label-news-hot{
		font-size: 1.42rem;
		font-weight: 700;
		padding-bottom: .5rem;
		border-bottom: 5px solid #FF6600;
		.icon-burn{
			@include setBackgroundIcon(35px, '../images/icon-fire.png');
			vertical-align: bottom;
		}
	}
}

/* ========== LIST NEWS ONLY TITLE AND IMAGE =============== */
.list-news-only{
	.list-group-item{
		padding-right: 0;
		padding-left: 0;
		border: none;
		border-bottom:  1px solid $color-gray-border;
		margin-bottom: 0;
		border-radius: 0;
	}
	.thumb-hori{
		width: 70px;
		float: left;
		margin-right: 1rem;
		img{
			@include border-radius(5px);
			@include shadow-out(4px, 4px, 18px, #ccc);
		}
	}
	.title-news-hori{
		font-size: 1.12rem;
		font-weight: bold;
	}
}



/* =================== RESPONSIVE ======================= */


/* 	================================================================
	EXTRA LARGE DEVICE
	Large desktop 1200px and up (1200px)
	================================================================== */
@media screen
and (min-width: $device-size-extra-large)
{

}


/* 	================================================================
	LARGE DEVICE
	Large desktop 992px and up (>992px and <1200px)
	================================================================== */
@media screen
and (min-width: $device-size-large)
and (max-width: $device-size-extra-large)
{

}


/* 	================================================================
	MEDIUM DEVICE
	Large tablet 768px and up (>768px and <992px)
	================================================================== */
@media screen
and (min-width: $device-size-medium)
and (max-width: $device-size-large)
{

}

/* 	================================================================
	MEDIUM DEVICE
	Large tablet 992px and down (<992px)
	================================================================== */
@media screen
and (max-width: $device-size-large)
{
	.hotnews-video {
		.title-video{
			font-size: 1.5rem;
		}
		.list-video {
			height: 325px;
			.box-thumb{
				float: left;
				width: 45%;
				margin-right: .5rem;
			}
			.list-group-item {
				padding: .5rem .25rem;
				.card{
					display: block;
				}
				.card-body{
					display: block;
					padding: 0;
				}
			}
		}
	}
}

/* 	================================================================
	SMALL DEVICE
	Large tablet 576px and up (>576px and <768px)
	================================================================== */
@media screen
and (min-width: $device-size-small)
and (max-width: $device-size-medium)
{

}

/* 	================================================================
	EXTRA SMALL DEVICE
	Large mobile 425px and up (>425px and <576px)
	================================================================== */
@media screen
and (min-width: $device-size-mobile)
and (max-width: $device-size-small)
{

}


/* 	================================================================
	MOBILE DEVICE
	Large mobile 425px and down (<425px)
	================================================================== */
@media screen
and (max-width: $device-size-mobile)
{
	.list-news-two-col {
		.list-news-hori {
			.list-group-item{
				margin-right: 0;
				.thumb-hori{
					width: 130px;
				}
				.set-height-news{
					height: 93px;
				}
				.title-news-hori{
					font-size: 1.3rem;
					line-height: 19px;
				}
				&:first-child {
					.thumb-hori{
						width: 150px;
					}
					.set-height-news{
						height: 108px;
					}
					.title-news-hori{
						font-size: 1.3rem;
						line-height: 19px;
					}
				}
			}

		}
		.btn-view-more{
			padding-right: 0;
		}
	}

	.list-news-only {
		.thumb-hori{
			width: 150px;
		}
	}
}

/* ================ END SIDEBAR LEFT==================== */