/* ====================== HOT NEWS SLIDE =========================== */
.box-has-label{
	.label-head{
		@include bg-gradient-t2b(#FF0000, #000000);
		height: 1.12rem;
		width: 100%;
		margin-bottom: .4rem;
		position: relative;
		.label-img{
			display: inline-block;
			position: absolute;
			top: -25px;
			left: -25px;
			z-index: 9;
		}
	}
}
.hotnews-slide{
	.slide-news{
		@include bg-gradient-t2b(#FF0000, #000000);
		padding: 0;
		position: relative;
		margin-bottom: 1rem;
		.view-more{
			padding: 1.42rem 0;
			text-align: right;
			padding-right: 1.1rem;
			.btn-view-more{
				color:  $color-white;
				font-size: 1.12rem;
				font-weight: bold;
			}
			.icon-arrow-right{
				@include setBackgroundIcon(5px, '../images/icon-arrow-right.svg', 10px);
			}
		}

		.bg-fire{
			padding-bottom: 1.9rem;
			background: url('../images/bg-fire.png') no-repeat 100%;
			background-position:  bottom;		
		}
	}

	.item{
		background: $color-white;
		.info-news{
			padding: 1.1rem 1.42rem 1.42rem 1.42rem;
			.title-item{
				padding-bottom: 1.42rem;
				font-size: 1.12rem;
				font-weight: bold;
				height: 75px;
				overflow: hidden;
			}
			.info-item{

				.icon-calendar{
					@include setBackgroundIcon(20px, '../images/icon-calendar.svg');
					vertical-align:  bottom;
				}
				.category{
					font-size: 1.2rem;
					color: $color-green;
					padding-left: .5rem;
				}
			}
		}
	}
	.owl-stage-outer{
		z-index: 9;
	}
	.owl-nav{
	    position: absolute;
	    top: calc(50% - 25px);
	    left: -10%;
	    @include display-flex();
	    @include justify-content(space-between);
	    width: 120%;
	    z-index: 8;
		.owl-prev, .owl-next{
			background: $color-white !important;
			@include border-radius(50%);
			@include setWidthHeight(47px);
			outline:  none;
		}
	}
	.btn-prev-slide{
		@include setBackgroundIcon(100%, '../images/icon-arrow-left-orange.svg');
		background-position: center center;
		-webkit-background-size: 13px;
		background-size: 13px;
	}
	.btn-next-slide{
		@include setBackgroundIcon(100%, '../images/icon-arrow-right-orange.svg');
		background-position: center center;
		-webkit-background-size: 13px;
		background-size: 13px;
	}
}

/* =================== RESPONSIVE ======================= */


/* 	================================================================
	EXTRA LARGE DEVICE
	Large desktop 1200px and up (1200px)
	================================================================== */
@media screen 
		and (min-width: $device-size-extra-large) 
{
	
}


/* 	================================================================
	LARGE DEVICE
	Large desktop 992px and up (>992px and <1200px)
	================================================================== */
@media screen 
		and (min-width: $device-size-large) 
		and (max-width: $device-size-extra-large) 
{
	
}


/* 	================================================================
	MEDIUM DEVICE
	Large tablet 768px and up (>768px and <992px)
	================================================================== */
@media screen 
		and (min-width: $device-size-medium) 
		and (max-width: $device-size-large) 
{
	
}

/* 	================================================================
	MEDIUM DEVICE
	Large tablet 992px and down (<992px)
	================================================================== */
@media screen
		and (max-width: $device-size-large)
{
	.hotnews-slide {
		.item {
			.info-news {
				.title-item{
					height: 66px;
				}
			}
		}
	}
}

/* 	================================================================
	SMALL DEVICE
	Large tablet 576px and up (>576px and <768px)
	================================================================== */
@media screen 
		and (min-width: $device-size-small) 
		and (max-width: $device-size-medium) 
{
	.hotnews-slide {
		.owl-nav {
			left: -15%;
		    width: 129%;
		}
	}
}

/* 	================================================================
	EXTRA SMALL DEVICE
	Large mobile 425px and up (>425px and <576px)
	================================================================== */
@media screen 
		and (min-width: $device-size-mobile) 
		and (max-width: $device-size-small) 
{
	.hotnews-slide {
		.owl-nav {
			left: -15%;
		    width: 129%;
		}
	}
}


/* 	================================================================
	MOBILE DEVICE
	Large mobile 425px and down (<425px)
	================================================================== */
@media screen 
		and (max-width: $device-size-mobile) 
{
	.hotnews-slide {
		.owl-nav {
			top: calc(50% - 15px);
			left: -19%;
		    width: 138%;
			.owl-next, .owl-prev{
				width: 30px;
				height: 30px;
			}
		}
	}
}

/* ====================== END HOT NEWS SLIDE =========================== */
